# Entorno
.env
.env.backup
.env.production
.env.local
.env.*.backup

# Dependencias
/vendor/
/node_modules/
/auth.json

# Compilados y builds
/public/build
/public/hot
npm-debug.log*
yarn-error.log*

# Cachés y reports
/.phpunit.cache
.phpunit.result.cache

# Storage
/storage/*.key
/storage/pail

# IDEs y editores
/.vscode/
/.idea/
/.fleet/
/.zed/
/homestead.json
Homestead.yaml

# Vagrant
/.vagrant

# Otros
.phpactor.json
